services:
  pixel-placer-app:
    image: registry.digitalocean.com/side-projects/side-projects:pixel-placer-node
    container_name: pixel-placer-docker
    restart: always
    environment:
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_ANON_KEY=${SUPABASE_ANON_KEY}
      - SUPABASE_SERVICE_KEY=${SUPABASE_SERVICE_KEY}
      - SUPABASE_JWT_SECRET=${SUPABASE_JWT_SECRET}
      - CANVAS_WIDTH=${CANVAS_WIDTH}
      - REDIS_CLOUD_PASSWORD=${REDIS_CLOUD_PASSWORD}
      - REDIS_CLOUD_HOST=${REDIS_CLOUD_HOST}
    env_file:
      - ./.env
    ports:
      - "8080:8080"
    networks:
      - pixel-placer-network
    
  nginx:
    image: nginx:latest
    container_name: nginx-container
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /path/to/your/certificates:/etc/ssl
    ports:
      - "80:80"
      - "443:443"
    networks:
      - pixel-placer-network

  networks:
    pixel-placer-network:
      driver: bridge


